{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Andaman and Nicobar Islands
{% endblock state %}

{% block M %}
<li>Andaman Wild Pig (<u>Sus scrofa andamanensis</u>) - Forested areas across the Andaman Islands</li>
<li>Andaman Spotted Deer (<u>Axis axis andamanensis</u>) - Forests and grasslands on the Andaman Islands</li>
<li>Nicobar Pig (<u>Sus scrofa nicobariensis</u>) - Forested regions on the Nicobar Islands</li>
<li>Nicobar Flying Fox (<u>Pteropus fabricii</u>) - Forests and mangroves in the Nicobar Islands</li>
<li>Andaman Tree Shrew (<u>Tupaia tana</u>) - Forested areas on the Andaman Islands</li>
<li>Great Nicobar Shrew (<u>Crocidura nicobarica</u>) - Forests and undergrowth on the Nicobar Islands</li>
<li>Andaman Water Monitor (<u>Varanus salvator andamanensis</u>) - Wetlands and forested areas on the Andaman Islands</li>
{% endblock M %}

{% block B %}
<li>Nicobar pigeon (<u>Caloenas nicobarica</u>) - Forested areas in the Nicobar Islands</li>
<li>Andaman Serpent Eagle (<u>Spilornis elgini</u>) - Forested areas on the Andaman Islands</li>
<li>Andaman Woodpecker (<u>Celeus striatus</u>) - Forests and woodlands on the Andaman Islands</li>
<li>Nicobar megapode (<u>Megapodius nicobariensis</u>) - Forest floors and coastal areas on the Nicobar Islands</li>
<li>Andaman Teal (<u>Anas albogularis</u>) - Wetlands and freshwater lakes on the Andaman Islands</li>
<li>Great Nicobar Hornbill (<u>Buceros bicornis</u>) - Forested areas on the Nicobar Islands</li>
{% endblock B %}

{% block R %}
<li>Andaman Water Monitor Lizard (<u>Varanus salvator</u>) - Wetlands, rivers, and forested areas on the Andaman Islands</li>
<li>Nicobar Giant Gecko (<u>Gecko giganteus</u>) - Forested areas on the Nicobar Islands</li>
<li>Andaman Krait (<u>Bungarus andamanensis</u>) - Forested and semi-arid areas on the Andaman Islands</li>
<li>Andaman Pit Viper (<u>Trimeresurus andamanensis</u>) - Forested and hilly areas on the Andaman Islands</li>
{% endblock R %}

{% block A %}
<li>Andaman Tree Frog (<u>Polypedates andamanensis</u>) - Forests and moist areas on the Andaman Islands</li>
<li>Nicobar Tree Frog (<u>Rhacophorus nicobariensis</u>) - Forests and wetlands on the Nicobar Islands</li>
{% endblock A %}

{% block AL %}
<li>Andaman Sawtail (<u>Pristipomoides filamentosus</u>) - Coral reefs and rocky substrates in the Andaman Sea</li>
<li>Nicobar Grouper (<u>Epinephelus polyphekadion</u>) - Coral reefs and rocky areas around the Nicobar Islands</li>
{% endblock AL %}

{% block IO %}
<li>Andaman Swallowtail (<u>Papilio garamas</u>) - Forested areas and gardens on the Andaman Islands</li>
<li>Nicobar Longhorn Beetle (<u>Batocera rufomaculata</u>) - Forested areas on the Nicobar Islands</li>
{% endblock IO %}

{% block PA %}
<li>Great Nicobar Biosphere Reserve</li>
<li>Ritchie's Archipelago</li>
<li>North Sentinel Island (Protected from external contact)</li>
<li>Andaman and Nicobar Islands National Park</li>
<li>South Button Island National Park</li>
<li>Wandoor Marine National Park</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
