{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Andhra Pradesh

{% endblock state %}


{% block M %}
<li>Indian Elephant (<u>Elephas</u> <u>maximus</u> <u>indicus</u>) - Eastern Ghats, particularly in Srisailam Tiger Reserve and Kondapalli Forests.</li>
<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Srisailam Tiger Reserve and Kothapalli Reserve Forest.</li>
<li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Srisailam Tiger Reserve, Nallamala Hills, and Kondapalli Hills.</li>
<li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Srisailam Tiger Reserve and surrounding forested areas.</li>
<li>Indian Wild Dog (Dhole) (<u>Cuon</u> <u>alpinus</u>) - Srisailam Tiger Reserve and Kondapalli Hills.</li>
<li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Srisailam Tiger Reserve, Nallamala Hills, and Kondapalli Hills.</li>
<li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Srisailam Tiger Reserve and Nallamala Hills.</li>
<li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Kolleru Lake and nearby grasslands.</li>
<li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Various forested areas including Srisailam Tiger Reserve.</li>
<li>Indian Bison (Gaur) (<u>Bos</u> <u>gaurus</u>) - Srisailam Tiger Reserve and Nallamala Hills.</li>
<li>Indian Peafowl (<u>Pavo</u> <u>cristatus</u>) - Srisailam Tiger Reserve, Nallamala Hills, and rural areas.</li>
<li>Spot-billed Pelican (<u>Pelecanus</u> <u>philippensis</u>) - Kolleru Lake and other wetlands.</li>
<li>Painted Stork (<u>Mycteria</u> <u>leucocephala</u>) - Kolleru Lake and surrounding wetlands.</li>
<li>Indian Grey Hornbill (<u>Ocyceros</u> <u>birostris</u>) - Srisailam Tiger Reserve and Nallamala Hills.</li>
<li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Srisailam Tiger Reserve and Nallamala Hills.</li>
<li>Black-headed Ibis (<u>Threskiornis</u> <u>melanocephalus</u>) - Various wetlands including Kolleru Lake.</li>


{% endblock M %}


{% block B %}
<li>Indian Peafowl (<u>Pavo</u> <u>cristatus</u>) - Srisailam Tiger Reserve, Nallamala Hills, and rural areas.</li>
<li>Spot-billed Pelican (<u>Pelecanus</u> <u>philippensis</u>) - Kolleru Lake and other wetlands.</li>
<li>Painted Stork (<u>Mycteria</u> <u>leucocephala</u>) - Kolleru Lake and surrounding wetlands.</li>
<li>Indian Grey Hornbill (<u>Ocyceros</u> <u>birostris</u>) - Srisailam Tiger Reserve and Nallamala Hills.</li>
<li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Srisailam Tiger Reserve and Nallamala Hills.</li>
<li>Black-headed Ibis (<u>Threskiornis</u> <u>melanocephalus</u>) - Kolleru Lake and other wetlands.</li>
<li>Barn Owl (<u>Tyto</u> <u>alba</u>) - Varied habitats including rural areas and forest edges.</li>


{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forested and grassland areas in Srisailam Tiger Reserve and Nallamala Hills.</li>
                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests of Srisailam Tiger Reserve and Nallamala Hills.</li>
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forested areas and grasslands in Srisailam Tiger Reserve.</li>
                <li>Indian Star Tortoise (<u>Geochelone</u> <u>elegans</u>) - Dry and semi-arid regions, including parts of Nallamala Hills.</li>
                <li>Monitor Lizard (<u>Varanus</u> <u>spp.</u>) - Forests and grasslands in Srisailam Tiger Reserve and surrounding areas.</li>

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested areas and wetlands, such as those in Srisailam Tiger Reserve.</li>
<li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Urban and rural areas, as well as forest edges.</li>


{% endblock A %}


{% block AL %}

<li>Indian Major Carps (<u>Catla</u> <u>catla</u>, <u>Labeo</u> <u>rohita</u>, <u>Cirrhinus</u> <u>mrigala</u>) - Freshwater lakes and rivers, including Kolleru Lake and surrounding water bodies.</li>
<li>Hilsa (<u>Tenualosa</u> <u>ilisiha</u>) - Coastal rivers and estuaries, particularly along the eastern coast of Andhra Pradesh.</li>
{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Common Mormon (<u>Papilio</u> <u>polytes</u>) and Painted Lady (<u>Vanessa</u> <u>cardui</u>)) - Varied habitats including forests, grasslands, and gardens.</li>
                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>)) - Wetlands, lakes, and rivers, including those in Kolleru Lake and surrounding areas.</li>

{% endblock IO %}


{% block PA %}
<li>These species are integral to the biodiversity of Andhra Pradesh and are often protected in the state's various wildlife sanctuaries and national parks.</li>


{% endblock PA %}
{% block M_image %}
<img src="{% static 'core/img/ap_m.jpg' %}" >

{% endblock M_image %}


{% block B_image %}
<img src="{% static 'core/img/ap_b.jpeg' %}" >

{% endblock B_image %}


{% block R_image %}
<img src="{% static 'core/img/ap_m.jpg' %}" >

{% endblock R_image %}


{% block A_image %}
<img src="{% static 'core/img/ap_m.jpg' %}" >

{% endblock A_image %}


{% block AL_image %}
<img src="{% static 'core/img/ap_m.jpg' %}" >

{% endblock AL_image %}


{% block IO_image %}
<img src="{% static 'core/img/ap_m.jpg' %}" >

{% endblock IO_image %}


{% block PA_image %}
<img src="{% static 'core/img/ap_m.jpg' %}" >

{% endblock PA_image %}


