{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Arunachal Pradesh

{% endblock state %}


{% block M %}

<li>Bharal (Blue Sheep) (<u>Pseudois</u> <u>nayaur</u>) - High-altitude regions and rocky slopes, especially in the Tawang and Kibithoo areas.</li>
<li>Himalayan Black Bear (<u>Ursus</u> <u>thibetanus</u>) - Temperate and subtropical forests, particularly in Pakke Wildlife Sanctuary and Mouling National Park.</li>
<li>Red Panda (<u>Ailurus</u> <u>fulgens</u>) - Temperate forests and bamboo thickets, found in Mouling National Park and Namdapha National Park.</li>
<li>Sunda Pangolin (<u>Manis</u> <u>javanica</u>) - Forested areas, particularly in Pakke Wildlife Sanctuary.</li>
<li>Snow Leopard (<u>Panthera</u> <u>uncia</u>) - High-altitude regions, such as those in Kibithoo and Tawang.</li>
<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Forests and grasslands, notably in Pakke Wildlife Sanctuary.</li>
<li>Asian Elephant (<u>Elephas</u> <u>maximus</u>) - Grasslands and forested areas, such as in Keller, Nameri National Park, and Pakke Wildlife Sanctuary.</li>
<li>Clouded Leopard (<u>Neofelis</u> <u>nebulosa</u>) - Dense forests in Namdapha National Park and Mouling National Park.</li>
<li>Musk Deer (<u>Moschus</u> <u>chrysogaster</u>) - Subalpine and alpine forests in high-altitude regions like Tawang.</li>
<li>Goral (<u>Naemorhedus</u> <u>goral</u>) - Rocky slopes and hilly forests, especially in Namdapha National Park.</li>

{% endblock M %}


{% block B %}
<li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland and montane forests, including Pakke Wildlife Sanctuary and Nameri National Park.</li>
                <li>Black-necked Crane (<u>Grus</u> <u>nigricollis</u>) - High-altitude wetlands and grasslands, notably in Tawang and Zemithang.</li>
                <li>Rufous-necked Hornbill (<u>Aceros</u> <u>nipalensis</u>) - Lowland forests, found in Pakke Wildlife Sanctuary.</li>
                <li>White-winged Duck (<u>Asarcornis</u> <u>scutulata</u>) - Wetlands and riverine forests in Nameri National Park and Pakke Wildlife Sanctuary.</li>
                <li>Ward's Trogon (<u>Harpactes</u> <u>wardii</u>) - Montane and subtropical forests in Namdapha National Park.</li>
                

{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands, including Pakke Wildlife Sanctuary.</li>
                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in areas like Pakke Wildlife Sanctuary.</li>
                <li>Common Krait (<u>Bungarus</u> <u>caeruleus</u>) - Forested and agricultural areas, including parts of Namdapha National Park.</li>

{% endblock R %}


{% block A %}
<li>Hill Stream Frog (<u>Rana</u> <u>sp.</u>) - Streams and rivers in hilly regions, such as those in Namdapha National Park.</li>
                <li>Chinese Giant Salamander (<u>Andrias</u> <u>davidianus</u>) - Freshwater streams and forests in Namdapha National Park.</li>

{% endblock A %}


{% block AL %}
<li>Golden Mahseer (<u>Tor</u> <u>putitora</u>) - Fast-flowing rivers and streams, such as those in Nameri National Park.</li>
                <li>Brown Trout (<u>Salmo</u> <u>trutta</u>) - Cold, clear streams in high-altitude areas like Tawang.</li>
                

{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Swallowtail species and Himalayan Blue Pansy (<u>Junonia</u> <u>almana</u>)) - Varied habitats including forests and grasslands.</li>
                <li>Dragonflies (such as the Emperor Dragonfly (<u>Anax</u> <u>imperator</u>) and Common Green Darner (<u>Anax</u> <u>junius</u>)) - Wetlands, rivers, and lakes throughout the state.</li>

{% endblock IO %}


{% block PA %}
<li>These species are representative of the rich biodiversity in Arunachal Pradesh, which is protected in various national parks and wildlife sanctuaries like Namdapha National Park, Mouling National Park, Pakke Wildlife Sanctuary, and Nameri National Park.</li>


{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


