{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}

Assam
{% endblock state %}


{% block M %}

<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Grasslands and forests, notably in Kaziranga National Park and Manas National Park.</li>
                <li>One-Horned Rhinoceros (<u>Rhinoceros</u> <u>unicornis</u>) - Grasslands and floodplains, primarily in Kaziranga National Park and Manas National Park.</li>
                <li>Asian Elephant (<u>Elephas</u> <u>maximus</u>) - Forests and grasslands, such as those in Kaziranga National Park and Manas National Park.</li>
                <li>Hoolock Gibbon (<u>Hoolock</u> <u>hoolock</u>) - Tropical rainforests and semi-evergreen forests, found in Kakopothar and surrounding forest areas.</li>
                <li>Clouded Leopard (<u>Neofelis</u> <u>nebulosa</u>) - Dense forests in Namdapha National Park and Dibru-Saikhowa National Park.</li>
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands in Kaziranga National Park and Manas National Park.</li>
                <li>Musk Deer (<u>Moschus</u> <u>chrysogaster</u>) - Temperate and subalpine forests in Namdapha National Park.</li>
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands in Kaziranga National Park and surrounding areas.</li>
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forests and grasslands, particularly in Manas National Park.</li>
                <li>Assamese Macaque (<u>Macaca</u> <u>assamensis</u>) - Subtropical and tropical forests in Namdapha National Park and surrounding areas.</li>
{% endblock M %}


{% block B %}
<li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland and subtropical forests, notably in Kaziranga National Park and Nameri National Park.</li>
                <li>White-winged Duck (<u>Asarcornis</u> <u>scutulata</u>) - Wetlands and riverine forests in Nameri National Park and Kaziranga National Park.</li>
                <li>Pied Hornbill (<u>Anthracoceros</u> <u>albirostris</u>) - Forests and riverine habitats, including Namdapha National Park.</li>
                <li>Rufous-necked Hornbill (<u>Aceros</u> <u>nipalensis</u>) - Lowland forests in Namdapha National Park.</li>
                <li>Blyth's Kingfisher (<u>Alcedo</u> <u>hercules</u>) - Forested rivers and streams, found in Kaziranga National Park and Nameri National Park.</li>
                

{% endblock B %}


{% block R %}
<li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Kaziranga National Park and Namdapha National Park.</li>
                <li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Kaziranga National Park and Manas National Park.</li>
                <li>Assam Roofed Turtle (<u>Pangshura</u> <u>sylhetensis</u>) - Freshwater rivers and ponds in Assam.</li>

{% endblock R %}


{% block A %}
<li>Himalayan Newt (<u>Tylototriton</u> <u>verrucosus</u>) - Freshwater streams and ponds in Namdapha National Park.</li>
                <li>Common Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested areas and wetlands in Kaziranga National Park and Nameri National Park.</li>

{% endblock A %}


{% block AL %}

<li>Golden Mahseer (<u>Tor</u> <u>putitora</u>) - Fast-flowing rivers and streams in Assam.</li>
                <li>Assam Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Assam.</li>
                
{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Golden Birdwing (<u>Troides</u> <u>aeacus</u>) and Great Mormon (<u>Papilio</u> <u>memnon</u>)) - Varied habitats including forests and gardens.</li>
                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Assam.</li>

{% endblock IO %}


{% block PA %}
<li>Assam's diverse wildlife can be explored in its various protected areas, including <b>Kaziranga National Park</b>, <b>Manas National Park</b>, <b>Namdapha National Park</b>, <b>Nameri National Park</b>, and <b>Dibru-Saikhowa National Park</b>.

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


