{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Bihar

{% endblock state %}


{% block M %}
<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Forests and grasslands, notably in Valmiki Tiger Reserve.</li>
                <li>Indian Elephant (<u>Elephas</u> <u>maximus</u>) - Forested areas and grasslands, occasionally found in Valmiki Tiger Reserve and areas near the Ganges River.</li>
                <li>One-Horned Rhinoceros (<u>Rhinoceros</u> <u>unicornis</u>) - Grasslands and riverine forests, found in the Valmiki Tiger Reserve.</li>
                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Forests, particularly in the Valmiki Tiger Reserve.</li>
                <li>Leopard (<u>Panthera</u> <u>pardus</u>) - Forested areas in Valmiki Tiger Reserve.</li>
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forests and grasslands in Valmiki Tiger Reserve.</li>
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forests and grasslands, notably in Valmiki Tiger Reserve.</li>
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands in Valmiki Tiger Reserve.</li>
                <li>Indian Bison (Gaur) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Valmiki Tiger Reserve.</li>
                <li>Indian Wolf (<u>Canis</u> <u>lupus</u> <u>pallipes</u>) - Grasslands and open forests, occasionally reported in northern Bihar.</li>

{% endblock M %}


{% block B %}
<li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland and subtropical forests, found in Valmiki Tiger Reserve.</li>
                <li>Pied Hornbill (<u>Anthracoceros</u> <u>albirostris</u>) - Forests and riverine habitats in Valmiki Tiger Reserve.</li>
                <li>Black-necked Crane (<u>Grus</u> <u>nigricollis</u>) - High-altitude wetlands, though less common, they are occasionally reported in northern regions.</li>
                <li>White-eyed Buzzard (<u>Butastur</u> <u>teesa</u>) - Open country and forest edges, seen in areas like Valmiki Tiger Reserve.</li>
                <li>Blyth's Kingfisher (<u>Alcedo</u> <u>hercules</u>) - Riverine forests and wetlands in Valmiki Tiger Reserve.</li>
                
               

{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Valmiki Tiger Reserve.</li>
                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Valmiki Tiger Reserve.</li>
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forests and grasslands in Valmiki Tiger Reserve.</li>
                

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested areas and wetlands, including Valmiki Tiger Reserve.</li>
                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas.</li>

{% endblock A %}


{% block AL %}
<li>Golden Mahseer (<u>Tor</u> <u>putitora</u>) - Fast-flowing rivers in northern Bihar.</li>
                <li>Assam Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers and ponds.</li>

{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the **Common Mormon** (<u>Papilio</u> <u>polytes</u>) and **Painted Lady** (<u>Vanessa</u> <u>cardui</u>)) - Varied habitats including forests and grasslands.</li>
<li>Dragonflies (such as the **Blue Dasher** (<u>Pachydiplax</u> <u>longipennis</u>) and **Giant Dragonfly** (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Bihar.</li>


{% endblock IO %}


{% block PA %}
<li>The Valmiki Tiger Reserve is a key protected area in Bihar, crucial for preserving the region's diverse wildlife.</li>
                

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


