{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Chandigarh
{% endblock state %}

{% block M %}
<li>Rhesus Macaque (<u>Macaca mulatta</u>) - Urban and peri-urban areas, including parks and gardens</li>
<li>Indian Palm Squirrel (<u>Funambulus palmarum</u>) - Gardens, parks, and residential areas</li>
<li>Common House Mouse (<u>Mus musculus</u>) - Urban areas, including homes and public spaces</li>
<li>Black-naped Hare (<u>Lepus nigricollis</u>) - Parks and open grassy areas</li>
{% endblock M %}

{% block B %}
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Parks and gardens, including Chandigarh Zoo</li>
<li>House Sparrow (<u>Passer domesticus</u>) - Urban areas, including residential and commercial spaces</li>
<li>Cattle Egret (<u>Bubulcus ibis</u>) - Open fields, parks, and around water bodies like Sukhna Lake</li>
<li>Common Myna (<u>Acridotheres tristis</u>) - Urban parks, gardens, and streets</li>
<li>Barn Owl (<u>Tyto alba</u>) - Urban and suburban areas, often found in parks and quiet areas</li>
<li>Asian Koel (<u>Eudynamys scolopaceus</u>) - Parks and gardens</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Rare sightings in large parks and natural areas</li>
<li>Water Monitor Lizard (<u>Varanus salvator</u>) - Near water bodies such as Sukhna Lake</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Urban green areas and outskirts</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Parks and gardens, especially during the monsoon season</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Gardens, parks, and areas with water bodies</li>
{% endblock A %}

{% block AL %}
<li>Common Carp (<u>Cyprinus carpio</u>) - Sukhna Lake and other water bodies in Chandigarh</li>
<li>Tilapia (<u>Oreochromis spp.</u>) - Sukhna Lake and other water bodies</li>
{% endblock AL %}

{% block IO %}
<li>Common Swallowtail (<u>Papilio machaon</u>) - Gardens and parks</li>
<li>Common Lime (<u>Papilio demoleus</u>) - Gardens and parks</li>
<li>Common Blue Darner (<u>Anax junius</u>) - Near water bodies like Sukhna Lake</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Near water bodies like Sukhna Lake</li>
{% endblock IO %}

{% block PA %}
<li>Chandigarh Zoo</li>
<li>Sukhna Lake</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
