{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}

Chhattisgarh
{% endblock state %}


{% block M %}
<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Forests and grasslands, primarily in Indravati National Park and Kanger Valley National Park.</li>
                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas in Kanger Valley National Park and Indravati National Park.</li>
                <li>Indian Elephant (<u>Elephas</u> <u>maximus</u>) - Forests and grasslands, occasionally found in areas like Achanakmar Wildlife Sanctuary and Indravati National Park.</li>
                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Dry and mixed forests, particularly in Kanger Valley National Park.</li>
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Indravati National Park and Kanger Valley National Park.</li>
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forests and grasslands in Kanger Valley National Park and Indravati National Park.</li>
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forests and grasslands, found in Kanger Valley National Park and Indravati National Park.</li>
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands in Indravati National Park and Achanakmar Wildlife Sanctuary.</li>
                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and forest edges, occasionally found in Achanakmar Wildlife Sanctuary.</li>
                <li>Indian Wolf (<u>Canis</u> <u>lupus</u> <u>pallipes</u>) - Grasslands and open forests, occasionally reported in northern Chhattisgarh.</li>

{% endblock M %}


{% block B %}
<li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland and subtropical forests, notably in Kanger Valley National Park and Achanakmar Wildlife Sanctuary.</li>
                <li>Pied Hornbill (<u>Anthracoceros</u> <u>albirostris</u>) - Forests and riverine habitats, including Kanger Valley National Park.</li>
                <li>White-eyed Buzzard (<u>Butastur</u> <u>teesa</u>) - Open country and forest edges, seen in areas like Indravati National Park.</li>
                <li>Wreathed Hornbill (<u>Rhyticeros</u> <u>undulatus</u>) - Dense forests in Kanger Valley National Park and Achanakmar Wildlife Sanctuary.</li>
                <li>Indian Peafowl (<u>Pavo</u> <u>cristatus</u>) - Forest edges and grasslands, including Indravati National Park.</li>
                
               

{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Indravati National Park and Kanger Valley National Park.</li>
                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Kanger Valley National Park.</li>
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forests and grasslands in Kanger Valley National Park.</li>
             

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested areas and wetlands in Kanger Valley National Park.</li>
                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas.</li>

{% endblock A %}


{% block AL %}

<li>Mahseer (<u>Tor</u> <u>spp.</u>) - Rivers and streams in the Mahanadi River Basin.</li>
                <li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Chhattisgarh.</li>
                
{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Common Mormon (<u>Papilio</u> <u>polytes</u>) and Painted Lady (<u>Vanessa</u> <u>cardui</u>)) - Varied habitats including forests and grasslands.</li>
                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Chhattisgarh.</li>
                

{% endblock IO %}


{% block PA %}

<li>The diverse wildlife in Chhattisgarh is protected in several national parks and wildlife sanctuaries, including Kanger Valley National Park, Indravati National Park, Achanakmar Wildlife Sanctuary, and Barnawapara Wildlife Sanctuary.


</li>
{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


