{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Delhi
{% endblock state %}

{% block M %}
<li>Rhesus Macaque (<u>Macaca mulatta</u>) - Habitat: Common in urban parks, gardens, and temple areas</li>
<li>Indian Grey Mongoose (<u>Herpestes edwardsi</u>) - Habitat: Urban areas, parks, and gardens</li>
<li>Common Indian Fox (<u>Vulpes bengalensis</u>) - Habitat: Urban fringes, parks, and green spaces</li>
<li>Black-naped Hare (<u>Lepus nigricollis</u>) - Habitat: Parks and open grassy areas</li>
<li>Delhi Tree Shrew (<u>Tupaia glis</u>) - Habitat: Forested and wooded areas in urban parks</li>
<li>Squirrels: Indian Palm Squirrel (<u>Funambulus palmarum</u>), Four-striped Squirrel (<u>Funambulus pennantii</u>) - Habitat: Gardens and parks</li>
{% endblock M %}

{% block B %}
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Habitat: Urban parks and large gardens</li>
<li>House Sparrow (<u>Passer domesticus</u>) - Habitat: Urban areas, including residential and commercial spaces</li>
<li>Common Myna (<u>Acridotheres tristis</u>) - Habitat: Parks, gardens, and urban areas</li>
<li>Pale-billed Flowerpecker (<u>Dicaeum erythrorhynchos</u>) - Habitat: Parks and gardens</li>
<li>Cattle Egret (<u>Bubulcus ibis</u>) - Habitat: Open fields, parks, and water bodies</li>
<li>Indian Roller (<u>Coracias benghalensis</u>) - Habitat: Parks, open areas, and gardens</li>
<li>Asian Koel (<u>Eudynamys scolopaceus</u>) - Habitat: Urban parks and gardens</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Habitat: Occasionally seen in large green areas and parks</li>
<li>Water Monitor Lizard (<u>Varanus salvator</u>) - Habitat: Near water bodies and large parks</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Habitat: Urban green spaces and outskirts</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Habitat: Urban fringes and green spaces</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Habitat: Parks and moist areas, especially during the monsoon season</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Habitat: Gardens, parks, and near water bodies</li>
{% endblock A %}

{% block AL %}
<li>Common Carp (<u>Cyprinus carpio</u>) - Habitat: Water bodies in parks like Hauz Khas Lake</li>
<li>Catfish (<u>Clarias batrachus</u>) - Habitat: Water bodies and ponds</li>
{% endblock AL %}

{% block IO %}
<li>Butterflies: Common Emigrant (<u>Catopsilia pomona</u>), Painted Lady (<u>Vanessa cardui</u>) - Habitat: Gardens and parks</li>
<li>Dragonflies: Blue Dasher (<u>Pachydiplax longipennis</u>), Common Green Darner (<u>Anax junius</u>) - Habitat: Near water bodies and urban green spaces</li>
{% endblock IO %}

{% block PA %}
<li>Sanjay Gandhi National Park</li>
<li>Hauz Khas Lake</li>
<li>Yamuna Biodiversity Park</li>
<li>Delhi Ridge</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
