{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Dadra and Nagar Haveli
{% endblock state %}

{% block M %}
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Forested areas and grasslands in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Indian Jackal (<u>Canis aureus</u>) - Grasslands and forested areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Forested areas and grasslands in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Chital (Spotted Deer) (<u>Axis axis</u>) - Grasslands and forested areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Wild Boar (<u>Sus scrofa</u>) - Forested and grassland areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Common Langur (<u>Semnopithecus entellus</u>) - Forested and hilly areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Indian Bison (Gaur) (<u>Bos gaurus</u>) - Forested areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Indian Fox (<u>Vulpes bengalensis</u>) - Grasslands and open forested areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
{% endblock M %}

{% block B %}
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Forested areas and grasslands in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Rufous Treepie (<u>Dendrocitta vagabunda</u>) - Forested areas and open woodlands in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Pale-chinned Minivet (<u>Pericrocotus ethologus</u>) - Forests and wooded areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Red-vented Bulbul (<u>Pycnonotus cafer</u>) - Gardens, open woodlands, and forest edges in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Asian Koel (<u>Eudynamys scolopaceus</u>) - Forests and urban areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Forested and grassland areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Water Monitor Lizard (<u>Varanus salvator</u>) - Near water bodies and forested areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Forested and grassland areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Forested and grassland areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Forests and moist areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Wetlands and forested areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
{% endblock A %}

{% block AL %}
<li>Catfish (<u>Clarias batrachus</u>) - Freshwater rivers and ponds in Dadra and Nagar Haveli</li>
<li>Tilapia (<u>Oreochromis spp.</u>) - Freshwater bodies in Dadra and Nagar Haveli</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Gardens and open areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Gardens and open areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Near water bodies and wetland areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Common Green Darner (<u>Anax junius</u>) - Near water bodies and wetland areas in Dadra and Nagar Haveli Wildlife Sanctuary</li>
{% endblock IO %}

{% block PA %}
<li>Dadra and Nagar Haveli Wildlife Sanctuary</li>
<li>Silvassa Nature Park</li>
<li>Gir Forest National Park (partially in the region)</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
