{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Goa

{% endblock state %}


{% block M %}
<li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas, particularly in Bhagwan Mahavir Wildlife Sanctuary and Cotigao Wildlife Sanctuary.</li>

                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Dry and mixed forests in Bhagwan Mahavir Wildlife Sanctuary and Cotigao Wildlife Sanctuary.</li>
                
                <li>Indian Elephant (<u>Elephas</u> <u>maximus</u>) - Forested areas and grasslands in Bhagwan Mahavir Wildlife Sanctuary, though sightings are rare.</li>
                
                <li>Indian Muntjac (Barking Deer) (<u>Muntiacus</u> <u>muntjak</u>) - Forests in Bhagwan Mahavir Wildlife Sanctuary and Cotigao Wildlife Sanctuary.</li>
                
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands, including Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands, seen in Bhagwan Mahavir Wildlife Sanctuary and Cotigao Wildlife Sanctuary.</li>
                
                <li>Common Langur (<u>Semnopithecus</u> <u>entellus</u>) - Forested areas, particularly in Bhagwan Mahavir Wildlife Sanctuary and Cotigao Wildlife Sanctuary.</li>
                
                <li>Indian Star Tortoise (<u>Geochelone</u> <u>elegans</u>) - Dry and semi-arid regions in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Civet Cat (<u>Viverra</u> <u>zibetha</u>) - Forests and semi-forested areas in Bhagwan Mahavir Wildlife Sanctuary.</li>

{% endblock M %}


{% block B %}
<li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland and subtropical forests, notably in Bhagwan Mahavir Wildlife Sanctuary.</li>

                <li>Malabar Pied Hornbill (<u>Anthracoceros</u> <u>coronatus</u>) - Forests and wooded areas in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Indian Pitta (<u>Pitta</u> <u>brachyura</u>) - Forested areas and woodland edges in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Black-headed Oriole (<u>Oriolus</u> <u>xanthornus</u>) - Forests and woodland edges in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>White-bellied Sea Eagle (<u>Haliaeetus</u> <u>leucoryphus</u>) - Coastal and riverine areas, including the Goa coastline.</li>

{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Bhagwan Mahavir Wildlife Sanctuary.</li>

                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Indian Star Tortoise (<u>Geochelone</u> <u>elegans</u>) - Dry forest and semi-arid regions, such as those in Bhagwan Mahavir Wildlife Sanctuary.</li>
                
                <li>Water Monitor Lizard (<u>Varanus</u> <u>salvator</u>) - Wetlands and rivers, including those in Goa.</li>
                

{% endblock R %}


{% block A %}
<li>Goa Tree Frog (<u>Philautus</u> <u>goaensis</u>) - Forests and tree canopies in Bhagwan Mahavir Wildlife Sanctuary.</li>

                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas in Goa.</li>

{% endblock A %}


{% block AL %}

<li>Mahseer (<u>Tor</u> <u>spp.</u>) - Freshwater rivers and streams, including those in the Western Ghats of Goa.</li>

                <li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Goa.</li>
                
{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Malabar Tree Nymph (<u>Idea</u> <u>malabarica</u>) and Common Crow (<u>Euploea</u> <u>core</u>)) - Varied habitats including forests and gardens.</li>

                <li>Dragonflies (such as the Giant Dragonfly (<u>Anax</u> <u>imperator</u>) and Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>)) - Wetlands, rivers, and lakes throughout Goa.</li>

{% endblock IO %}


{% block PA %}
<li>The wildlife of Goa is protected in various reserves such as Bhagwan Mahavir Wildlife Sanctuary, Cotigao Wildlife Sanctuary, and the Netravali Wildlife Sanctuary. These areas are crucial for preserving Goa's rich biodiversity.

</li>

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


