{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Gujarat

{% endblock state %}


{% block M %}
<li>Asiatic Lion (<u>Panthera</u> <u>leo</u> <u>persica</u>) - Grasslands and open forests in Gir National Park and Gir Wildlife Sanctuary.</li>
                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas, including Gir National Park and Kutch Desert Wildlife Sanctuary.</li>
                <li>Indian Wild Ass (<u>Equus</u> <u>hemionus</u> <u>khur</u>) - Arid grasslands and desert regions in the Little Rann of Kutch.</li>
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forests in Gir National Park and Dangs Forest.</li>
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands in Gir National Park and Dangs Forest.</li>
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forests and grasslands, including Gir National Park.</li>
                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and open forests, seen in areas like Gir National Park and Kutch Desert Wildlife Sanctuary.</li>
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands in Gir National Park and Kutch Desert Wildlife Sanctuary.</li>
                <li>Indian Fox (<u>Vulpes</u> <u>bengalensis</u>) - Arid and semi-arid regions, including Little Rann of Kutch.</li>
                <li>Indian Hedgehog (<u>Paraechinus</u> <u>micropus</u>) - Grasslands and semi-arid regions in Kutch Desert Wildlife Sanctuary.</li>

{% endblock M %}


{% block B %}
<li>Greater Flamingo (<u>Phoenicopterus</u> <u>roseus</u>) - Wetlands and salt flats, notably in the Rann of Kutch.</li>

                <li>Indian Bustard (<u>Ardeotis</u> <u>nigriceps</u>) - Arid grasslands and open country in the Little Rann of Kutch.</li>
                
                <li>Grey Hornbill (<u>Ocyceros</u> <u>birostris</u>) - Forests and wooded areas in Gir National Park.</li>
                
                <li>Painted Stork (<u>Mycteria</u> <u>leucocephala</u>) - Wetlands and riverine forests, seen in Kutch Desert Wildlife Sanctuary.</li>
                
                <li>Spoonbill (<u>Platalea</u> <u>leucorodia</u>) - Wetlands and shallow water bodies, including the Rann of Kutch.</li>
                
                <li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Forested areas and open woodlands in Gir National Park.</li>
                
                <li>Indian Eagle Owl (<u>Bubo</u> <u>bengalensis</u>) - Forests and rocky outcrops, including Gir National Park.</li>
                
               



{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Gir National Park and Kutch Desert Wildlife Sanctuary.</li>

                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Gir National Park.</li>
                
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forests and arid regions, including Gir National Park and Kutch Desert Wildlife Sanctuary.</li>
                
                <li>Indian Star Tortoise (<u>Geochelone</u> <u>elegans</u>) - Arid and semi-arid regions, particularly in Little Rann of Kutch.</li>

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forests and wetlands in Gir National Park and Dangs Forest.</li>

                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas in Gujarat.</li>

{% endblock A %}


{% block AL %}

<li>Mahseer (<u>Tor</u> <u>spp.</u>) - Freshwater rivers and streams in the Sahyadri Range and Gir National Park.</li>

                <li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Gujarat.</li>
                
{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Giant Swallowtail (<u>Papilio</u> <u>garamas</u>) and Common Crow (<u>Euploea</u> <u>core</u>)) - Varied habitats including forests and open areas.</li>

                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Gujarat.</li>

{% endblock IO %}


{% block PA %}
<li>The wildlife of Gujarat is protected in several national parks and wildlife sanctuaries, including Gir National Park, Kutch Desert Wildlife Sanctuary, Little Rann of Kutch, and Dangs Forest. These areas are crucial for conserving Gujarat’s unique biodiversity.

</li>

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


