{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}

Himachal Pradesh
{% endblock state %}


{% block M %}
<li>Himalayan Monal (<u>Lophophorus</u> <u>impejanus</u>) - Forested and alpine regions in the Kinnaur and Lahaul-Spiti areas.</li>

                <li>Snow Leopard (<u>Panthera</u> <u>uncia</u>) - High-altitude mountainous regions in Spiti Valley and Lahaul.</li>
                
                <li>Himalayan Brown Bear (<u>Ursus</u> <u>arctos</u> <u>isabellinus</u>) - Alpine and subalpine forests in Kinnaur and Lahaul-Spiti.</li>
                
                <li>Goral (<u>Naemorhedus</u> <u>goral</u>) - Rocky and hilly terrains, notably in Great Himalayan National Park and Kinnaur.</li>
                
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas in Great Himalayan National Park and Kinnaur.</li>
                
                <li>Musk Deer (<u>Moschus</u> <u>chrysogaster</u>) - Forested and alpine regions in Great Himalayan National Park and Lahaul-Spiti.</li>
                
                <li>Himalayan Tahr (<u>Hemitragus</u> <u>jemlahicus</u>) - Rocky cliffs and alpine meadows in Great Himalayan National Park and Kinnaur.</li>
                
                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested and hilly regions, including Great Himalayan National Park.</li>
                
                <li>Himalayan Wolf (<u>Canis</u> <u>lupus</u> <u>chanco</u>) - High-altitude areas in Spiti Valley and Lahaul.</li>
                
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands, found in Great Himalayan National Park and lower elevations.</li>

{% endblock M %}


{% block B %}
<li>Himalayan Monal (<u>Lophophorus</u> <u>impejanus</u>) - Forests and alpine meadows in the Kinnaur and Lahaul-Spiti areas.</li>

                <li>Western Tragopan (<u>Tragopan</u> <u>melanocephalus</u>) - Dense temperate forests in Great Himalayan National Park.</li>
                
                <li>Blood Pheasant (<u>Ithaginis</u> <u>cruentus</u>) - Alpine and subalpine regions in Kinnaur and Lahaul-Spiti.</li>
                
                <li>White-Cheeked Tit (<u>Parus</u> <u>leucogenys</u>) - Forested areas in Great Himalayan National Park.</li>
                
                <li>Golden Eagle (<u>Aquila</u> <u>chrysaetos</u>) - Rocky and mountainous regions in Spiti Valley and Lahaul.</li>
                
                <li>Himalayan Griffon (<u>Gyps</u> <u>himalayensis</u>) - High-altitude regions and open landscapes in Spiti Valley and Lahaul.</li>
                

{% endblock B %}


{% block R %}
<li>Himalayan Pit Viper (<u>Gloydius</u> <u>himalayanus</u>) - Forested and rocky areas in Great Himalayan National Park and Lahaul-Spiti.</li>

                <li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands, including areas in Great Himalayan National Park.</li>
                
                <li>Common Krait (<u>Bungarus</u> <u>caeruleus</u>) - Forested and agricultural areas, found in lower elevations.</li>
                

{% endblock R %}


{% block A %}

<li>Himalayan Newt (<u>Tylototriton</u> <u>verrucosus</u>) - Streams and wetland areas in Great Himalayan National Park.</li>

                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas in lower elevations.</li>
                
{% endblock A %}


{% block AL %}
<li>Golden Mahseer (<u>Tor</u> <u>putitora</u>) - Fast-flowing rivers and streams in the Himalayan foothills.</li>

                <li>Brown Trout (<u>Salmo</u> <u>trutta</u>) - Cold, clear streams and rivers in Shimla and Kullu districts.</li>
                

{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Himalayan Swallowtail (<u>Papilio</u> <u>garamas</u>) and Satyrine Butterfly (<u>Satyrinae</u>)) - Varied habitats including forests and alpine meadows.</li>

                <li>Dragonflies (such as the Mountain Hawk Dragonfly (<u>Hagenius</u> <u>brevistylus</u>) and Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>)) - Wetlands, rivers, and high-altitude lakes.</li>
                

{% endblock IO %}


{% block PA %}
<li>Himachal Pradesh’s wildlife is protected in various national parks and wildlife sanctuaries, including Great Himalayan National Park, Kinnaur, and Spiti Valley. These areas are essential for conserving the state's unique biodiversity</li>
                

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


