{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}

Haryana
{% endblock state %}


{% block M %}
<li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas and hills, found in the Sultanpur National Park and parts of the Aravalli range.</li>

                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and open forests, notably in Sultanpur National Park and surrounding areas.</li>
                
                <li>Indian Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands, including areas near Sultanpur National Park and the Aravalli hills.</li>
                
                <li>Rhesus Macaque (<u>Macaca</u> <u>mulatta</u>) - Forests and urban areas, including around Sultanpur National Park and nearby regions.</li>
                
                <li>Indian Fox (<u>Vulpes</u> <u>bengalensis</u>) - Arid and semi-arid regions, including the Aravalli hills and surrounding open areas.</li>
                
                <li>Indian Jackal (<u>Canis</u> <u>aureus</u> <u>indicus</u>) - Grasslands and open areas, including regions around Sultanpur National Park.</li>
                
                <li>Blackbuck (<u>Antilope</u> <u>cervicapra</u>) - Grasslands and open plains, found in the Kalesar National Park and surrounding areas.</li>
                
                <li>Indian Hare (<u>Lepus</u> <u>nigricollis</u>) - Grasslands and scrublands, including areas near Sultanpur National Park and Kalesar National Park.</li>
                
                <li>Indian Hedgehog (<u>Paraechinus</u> <u>micropus</u>) - Arid and semi-arid regions, including the Aravalli hills.</li>
                
                <li>Striped Hyena (<u>Hyaena</u> <u>hyaena</u>) - Arid and semi-arid regions, found in the Aravalli hills and surrounding areas.</li>

{% endblock M %}


{% block B %}
<li>Sarus Crane (<u>Grus</u> <u>antigone</u>) - Wetlands and grasslands, found in Sultanpur National Park.</li>

                <li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Forests and wooded areas, notably in Kalesar National Park.</li>
                
                <li>Indian Pitta (<u>Pitta</u> <u>brachyura</u>) - Forests and woodland edges, found in Kalesar National Park.</li>
                
                <li>Pied Avocet (<u>Recurvirostra</u> <u>avosetta</u>) - Wetlands and mudflats, including Sultanpur National Park.</li>
                
                <li>White-throated Kingfisher (<u>Halcyon</u> <u>smyrnensis</u>) - Wetlands and riverine areas, seen in Sultanpur National Park.</li>
                
                <li>Black-headed Ibis (<u>Threskiornis</u> <u>melanocephalus</u>) - Wetlands and marshes, including Sultanpur National Park.</li>
                
               

{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forested and grassland areas, including Kalesar National Park.</li>

                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forests and arid regions, including areas around Sultanpur National Park and the Aravalli hills.</li>
                
                <li>Indian Star Tortoise (<u>Geochelone</u> <u>elegans</u>) - Arid and semi-arid regions, including the Aravalli hills.</li>
                
                <li>Water Monitor Lizard (<u>Varanus</u> <u>salvator</u>) - Wetlands and riverine areas in Sultanpur National Park.</li>
                
               

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested areas and wetlands, including Kalesar National Park.</li>

                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas around Sultanpur National Park.</li>
                

{% endblock A %}


{% block AL %}
<li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Haryana.</li>

                <li>Mahseer (<u>Tor</u> <u>spp.</u>) - Freshwater rivers and streams, including those in the Yamuna river basin.</li>
                

{% endblock AL %}


{% block IO %}

<li>Butterflies (such as the Common Mormon (<u>Papilio</u> <u>polytes</u>) and Painted Lady (<u>Vanessa</u> <u>cardui</u>)) - Varied habitats including forests and open areas.</li>

                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Haryana.</li>
                
{% endblock IO %}


{% block PA %}

<li>Key protected areas in Haryana include Sultanpur National Park, Kalesar National Park, and the Aravalli hills, which are crucial for preserving the state's diverse wildlife.


</li>
{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


