{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Jharkhand

{% endblock state %}


{% block M %}
<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Forests and grasslands, primarily in Palamau Tiger Reserve.</li>

                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas, including Palamau Tiger Reserve and Betla National Park.</li>
                
                <li>Elephant (<u>Elephas</u> <u>maximus</u>) - Forested areas and grasslands, occasionally seen in Palamau Tiger Reserve.</li>
                
                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Forests in Betla National Park and surrounding areas.</li>
                
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Betla National Park.</li>
                
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands, including Betla National Park and Palamau Tiger Reserve.</li>
                
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forests and grasslands, particularly in Palamau Tiger Reserve and Betla National Park.</li>
                
                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and forest edges in Palamau Tiger Reserve.</li>
                
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands, found in Betla National Park and Palamau Tiger Reserve.</li>
                
                <li>Indian Fox (<u>Vulpes</u> <u>bengalensis</u>) - Forested and semi-arid regions, including areas around Palamau Tiger Reserve.</li>
                

{% endblock M %}


{% block B %}
<li>Indian Peafowl (<u>Pavo</u> <u>cristatus</u>) - Forests and grasslands, including Betla National Park.</li>

                <li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland forests, occasionally found in Betla National Park.</li>
                
                <li>Black-headed Ibis (<u>Threskiornis</u> <u>melanocephalus</u>) - Wetlands and riverine forests, including areas near Palamau Tiger Reserve.</li>
                
                <li>Painted Stork (<u>Mycteria</u> <u>leucocephala</u>) - Wetlands and marshes, occasionally seen in Palamau Tiger Reserve.</li>
                
                <li>Pied Kingfisher (<u>Ceryle</u> <u>rudis</u>) - Rivers and water bodies in Palamau Tiger Reserve.</li>
                
                <li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Forested areas in Betla National Park.</li>
                

{% endblock B %}


{% block R %}
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands, including Palamau Tiger Reserve.</li>

                <li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Betla National Park.</li>
                
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forests and grasslands, including Palamau Tiger Reserve.</li>
                

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forests and wetlands in Betla National Park.</li>

                <li>Common Indian Toad (<u>Duttaphrynus</u> <u>melanostictus</u>) - Varied habitats including forests and agricultural areas in Jharkhand.</li>

{% endblock A %}


{% block AL %}
<li>Mahseer (<u>Tor</u> spp.) - Freshwater rivers and streams, including those in Palamau Tiger Reserve.</li>

                <li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Jharkhand.</li>
                

{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Common Mormon (<u>Papilio</u> <u>polytes</u>) and Painted Lady (<u>Vanessa</u> <u>cardui</u>)) - Varied habitats including forests and open areas.</li>

                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Jharkhand.</li>

{% endblock IO %}


{% block PA %}
<li>Key protected areas in Jharkhand include Palamau Tiger Reserve, Betla National Park, and Hazaribagh Wildlife Sanctuary. These areas play a crucial role in conserving the state’s diverse wildlife.</li>


{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


