{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}

Karnataka
{% endblock state %}


{% block M %}
<li>Indian Elephant (<u>Elephas</u> <u>maximus</u>) - Forests and grasslands, notably in Bandipur National Park, Nagarhole National Park, and Kabini Wildlife Sanctuary.</li>

                <li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Dense forests in Bandipur National Park, Nagarhole National Park, and Bhadra Wildlife Sanctuary.</li>
                
                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas, including Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forests and grasslands in Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Forested areas, including Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Indian Wild Dog (Dhole) (<u>Cuon</u> <u>alpinus</u>) - Forests and grasslands in Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands in Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forested areas and grasslands, particularly in Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and forest edges, occasionally seen in Bhadra Wildlife Sanctuary.</li>
                
                <li>Indian Fox (<u>Vulpes</u> <u>bengalensis</u>) - Arid and semi-arid regions, including areas around Bhadra Wildlife Sanctuary.</li>
                
                


{% endblock M %}


{% block B %}
<li>Malabar Hornbill (<u>Aceros</u> <u>nepalensis</u>) - Tropical forests in the Western Ghats, including Bandipur National Park and Nagarhole National Park.</li>

                <li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland forests, including Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Indian Pitta (<u>Pitta</u> <u>brachyura</u>) - Forests and woodland edges, seen in Western Ghats.</li>
                
                <li>White-bellied Treepie (<u>Dendrocitta</u> <u>leucogastra</u>) - Forested areas in the Western Ghats and Bandipur National Park.</li>
                
                <li>Oriental Darter (<u>Anhinga</u> <u>melanogaster</u>) - Wetlands and water bodies in Kabini Wildlife Sanctuary.</li>
                
               

{% endblock B %}


{% block R %}
<li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in the Western Ghats and Bandipur National Park.</li>

                <li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Bandipur National Park and Nagarhole National Park.</li>
                
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forested and arid regions, including Bandipur National Park.</li>
                

{% endblock R %}


{% block A %}
<li>Malabar Tree Frog (<u>Rhacophorus</u> <u>malabaricus</u>) - Tropical forests in the Western Ghats, including Bandipur National Park.</li>

                <li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested and wetland areas in the Western Ghats.</li>
                

{% endblock A %}


{% block AL %}
<li>Mahseer (<u>Tor</u> <u>spp.</u>) - Freshwater rivers and streams in the Western Ghats.</li>

                <li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Karnataka.</li>
                

{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Malabar Tree Nymph (<u>Idea</u> <u>malabarica</u>) and Common Mormon (<u>Papilio</u> <u>polytes</u>)) - Varied habitats including forests and open areas in the <strong>Western Ghats</strong>.</li>

                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Karnataka.</li>
                

{% endblock IO %}


{% block PA %}
<li>Key protected areas in Karnataka include Bandipur National Park, Nagarhole National Park, Bhadra Wildlife Sanctuary, and Kabini Wildlife Sanctuary. These regions are vital for conserving Karnataka's diverse wildlife.

</li>

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


