{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Lakshadweep
{% endblock state %}

{% block M %}
<li>Dolphins: Spinner Dolphin (<u>Stenella longirostris</u>), Bottlenose Dolphin (<u>Tursiops truncatus</u>) - Habitat: Coral reefs and open waters around the islands</li>
<li>Whale Shark (<u>Rhincodon typus</u>) - Habitat: Coral reef areas and open waters</li>
<li>Green Sea Turtle (<u>Chelonia mydas</u>) - Habitat: Coral reefs and sandy beaches for nesting</li>
<li>Hawksbill Turtle (<u>Eretmochelys imbricata</u>) - Habitat: Coral reefs and sandy beaches</li>
{% endblock M %}

{% block AL %}
<li>Napoleon Wrasse (<u>Cheilinus undulatus</u>) - Habitat: Coral reefs and lagoons</li>
<li>Clownfish (<u>Amphiprioninae</u>) - Habitat: Coral reefs, often associated with sea anemones</li>
<li>Parrotfish (<u>Scaridae</u>) - Habitat: Coral reefs and seagrass beds</li>
<li>Lionfish (<u>Pterois volitans</u>) - Habitat: Coral reefs and rocky areas</li>
<li>Triggerfish (<u>Balistidae</u>) - Habitat: Coral reefs and lagoons</li>
{% endblock AL %}

{% block IO %}
<li>Giant Clam (<u>Tridacna gigas</u>) - Habitat: Coral reefs and shallow lagoons</li>
<li>Sea Anemones: various species - Habitat: Coral reefs, often hosting clownfish</li>
<li>Coral Species: Acropora, Porites, Montipora - Habitat: Coral reefs</li>
{% endblock IO %}

{% block B %}
<li>Common Mynah (<u>Acridotheres tristis</u>) - Habitat: Gardens and open areas on the islands</li>
<li>Black-naped Oriole (<u>Oriolus chinensis</u>) - Habitat: Forested areas and gardens</li>
<li>House Sparrow (<u>Passer domesticus</u>) - Habitat: Urban areas and gardens</li>
<li>Indian Swiftlet (<u>Aerodramus unicolor</u>) - Habitat: Forested and coastal areas</li>
{% endblock B %}

{% block R %}
<li>Indian House Gecko (<u>Hemidactylus frenatus</u>) - Habitat: Urban areas and buildings</li>
<li>Green Sea Turtle (<u>Chelonia mydas</u>) - Habitat: Coral reefs and sandy beaches for nesting</li>
{% endblock R %}

{% block IO %}
<li>Common Crow (<u>Euploea core</u>) - Habitat: Gardens and forested areas</li>
<li>Peacock Pansy (<u>Junonia almana</u>) - Habitat: Gardens and forested areas</li>
<li>Common Blue Skimmer (<u>Orthetrum caledonicum</u>) - Habitat: Near water bodies and coastal areas</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Habitat: Near water bodies and coastal areas</li>
{% endblock IO %}

{% block PA %}
<li>Lakshadweep Marine National Park</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Marine Mammals here if needed -->
{% endblock M_image %}

{% block AL_image %}
<!-- Add images related to Marine Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Marine Invertebrates here if needed -->
{% endblock IO_image %}

{% block B_image %}
<!-- Add images related to Terrestrial Wildlife here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
