{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Maharashtra

{% endblock state %}


{% block M %}
<li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas in Sanjay Gandhi National Park, Tadoba Andhari Tiger Reserve, and Pench Tiger Reserve.</li>
                <li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Dense forests in Tadoba Andhari Tiger Reserve, Pench Tiger Reserve, and Sanjay Gandhi National Park.</li>
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Tadoba Andhari Tiger Reserve and Sanjay Gandhi National Park.</li>
                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Forests in Tadoba Andhari Tiger Reserve.</li>
                <li>Indian Wild Dog (Dhole) (<u>Cuon</u> <u>alpinus</u>) - Forests in Tadoba Andhari Tiger Reserve and Pench Tiger Reserve.</li>
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands in Tadoba Andhari Tiger Reserve and Pench Tiger Reserve.</li>
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forested areas and grasslands, particularly in Tadoba Andhari Tiger Reserve.</li>
                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and forest edges in Tadoba Andhari Tiger Reserve.</li>
                <li>Indian Fox (<u>Vulpes</u> <u>bengalensis</u>) - Arid and semi-arid regions, including areas around Tadoba Andhari Tiger Reserve.</li>
                <li>Wild Boar (<u>Sus</u> <u>scrofa</u>) - Forests and grasslands in Tadoba Andhari Tiger Reserve.</li>
                
                



{% endblock M %}


{% block B %}
<li>Indian Peafowl (<u>Pavo</u> <u>cristatus</u>) - Forests and grasslands in Tadoba Andhari Tiger Reserve and Sanjay Gandhi National Park.</li>
                <li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland forests in Sanjay Gandhi National Park and Tadoba Andhari Tiger Reserve.</li>
                <li>Malabar Pied Hornbill (<u>Anthracoceros</u> <u>coronatus</u>) - Forested areas in Sanjay Gandhi National Park.</li>
                <li>White-eyed Buzzard (<u>Butastur</u> <u>teesa</u>) - Open forests and grasslands in Tadoba Andhari Tiger Reserve.</li>
                <li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Forested areas in Tadoba Andhari Tiger Reserve.</li>
                

{% endblock B %}


{% block R %}
<li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Tadoba Andhari Tiger Reserve and Sanjay Gandhi National Park.</li>
                <li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Tadoba Andhari Tiger Reserve.</li>
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forested and arid regions, including Tadoba Andhari Tiger Reserve.</li>
                

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested and wetland areas in Sanjay Gandhi National Park.</li>
<li>Malabar Tree Frog (<u>Rhacophorus</u> <u>malabaricus</u>) - Tropical forests in Sanjay Gandhi National Park.</li>


{% endblock A %}


{% block AL %}
<li>Mahseer (<u>Tor</u> <u>spp.</u>) - Freshwater rivers and streams in Western Ghats.</li>
<li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Maharashtra.</li>


{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Common Mormon (<u>Papilio</u> <u>polytes</u>) and Malabar Tree Nymph (<u>Idea</u> <u>malabarica</u>)) - Varied habitats including forests and open areas in Sanjay Gandhi National Park.</li>
<li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Maharashtra.</li>


{% endblock IO %}


{% block PA %}
<li> Protected Areas in Maharashtra:
    -Tadoba Andhari Tiger Reserve,
     Pench Tiger Reserve,
     Sanjay Gandhi National Park,
     Melghat Tiger Reserve,
     Chandoli National Park.
    
    These protected areas are vital for preserving Maharashtra’s rich biodiversity and providing sanctuary to its diverse wildlife.
    </li>

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


