{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Meghalaya
{% endblock state %}

{% block M %}
<li>Hoolock Gibbons (<u>Hoolock</u> <u>hoolock</u>) - Forests in the Khliehriat region, Nongkhyllem Wildlife Sanctuary, and Siju Wildlife Sanctuary.</li>
<li>Barking Deer (Muntjac) (<u>Muntiacus</u> <u>muntjak</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Asiatic Black Bear (<u>Ursus</u> <u>thibetanus</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forests in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Himalayan Porcupine (<u>Hystrix</u> <u>brachyura</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary and surrounding regions.</li>
<li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Clouded Leopard (<u>Neofelis</u> <u>nebulosa</u>) - Dense forests in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Indian Wild Dog (Dhole) (<u>Cuon</u> <u>alpinus</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary.</li>
<li>Himalayan Red Panda (<u>Ailurus</u> <u>fulgens</u> <u>styani</u>) - Higher altitudes and bamboo forests in the Meghalaya Hills.</li>
{% endblock M %}

{% block B %}
<li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Blyth's Kingfisher (<u>Alcedo</u> <u>hercules</u>) - Forest streams and rivers in Siju Wildlife Sanctuary.</li>
<li>Rufous-necked Hornbill (<u>Aceros</u> <u>nipalensis</u>) - Forested areas in Nongkhyllem Wildlife Sanctuary.</li>
<li>Grey-headed Canary Flycatcher (<u>Culicicapa</u> <u>ceylonensis</u>) - Forests and forest edges in Siju Wildlife Sanctuary.</li>
<li>Black-headed Ibis (<u>Threskiornis</u> <u>melanocephalus</u>) - Wetlands and marshes in Nongkhyllem Wildlife Sanctuary.</li>
{% endblock B %}

{% block R %}
<li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forested and semi-forested areas in Siju Wildlife Sanctuary.</li>
<li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forests and semi-arid regions in Nongkhyllem Wildlife Sanctuary.</li>
<li>Indian Python (<u>Python</u> <u>molurus</u>) - Forested areas and grasslands in Siju Wildlife Sanctuary.</li>
{% endblock R %}

{% block A %}
<li>Assamese Tree Frog (<u>Polypedates</u> <u>megacephalus</u>) - Forested areas and wetlands in Siju Wildlife Sanctuary.</li>
<li>Malayan Tree Frog (<u>Rhacophorus</u> <u>malayanus</u>) - Tropical forests and bamboo forests in Nongkhyllem Wildlife Sanctuary.</li>
{% endblock A %}

{% block AL %}
<li>Hillstream Loach (<u>Pseudogastromyzon</u> <u>sp.</u>) - Fast-flowing mountain streams in Meghalaya Hills.</li>
<li>Trout (<u>Oncorhynchus</u> <u>mykiss</u>) - Cold freshwater streams and rivers in Meghalaya Hills.</li>
{% endblock AL %}

{% block IO %}
<li>Butterflies (such as the Red Helen (<u>Papilio</u> <u>helenus</u>) and Common Map Butterfly (<u>Cyrestis</u> <u>thyodamas</u>)) - Forests and open areas in Nongkhyllem Wildlife Sanctuary and Siju Wildlife Sanctuary.</li>
<li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Glider Dragonfly (<u>Pantala</u> <u>flavescens</u>)) - Wetlands, rivers, and streams in Siju Wildlife Sanctuary.</li>
{% endblock IO %}

{% block PA %}
<li>Protected Areas in Meghalaya:
    - Nongkhyllem Wildlife Sanctuary
    - Siju Wildlife Sanctuary
    - Balphakram National Park
    - Mawlynnong Reserve Forest
    
    These protected areas are critical for preserving Meghalaya’s rich biodiversity and providing sanctuary to its diverse wildlife.
</li>
{% endblock PA %}

{% block M_image %}
<!-- Placeholder for Mammals images -->
{% endblock M_image %}

{% block B_image %}
<!-- Placeholder for Birds images -->
{% endblock B_image %}

{% block R_image %}
<!-- Placeholder for Reptiles images -->
{% endblock R_image %}

{% block A_image %}
<!-- Placeholder for Amphibians images -->
{% endblock A_image %}

{% block AL_image %}
<!-- Placeholder for Aquatic Life images -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Placeholder for Insects and Other images -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Placeholder for Protected Areas images -->
{% endblock PA_image %}
