{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Manipur

{% endblock state %}


{% block M %}
<li>Sangai (Manipuri Brow-antlered Deer) (<u>Rucervus</u> <u>eldii</u> <u>eldii</u>) - Grasslands and swampy areas in Keibul Lamjao National Park, the only floating national park in the world.</li>
                <li>Himalayan Black Bear (<u>Ursus</u> <u>thibetanus</u>) - Forested and mountainous areas in Sirohi National Park and surrounding regions.</li>
                <li>Common Langur (Hanuman Langur) (<u>Semnopithecus</u> <u>entellus</u>) - Forests and forest edges in Sirohi National Park and surrounding areas.</li>
                <li>Indian Flying Fox (<u>Pteropus</u> <u>giganteus</u>) - Forested and semi-urban areas throughout Manipur.</li>
                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested and hilly areas, occasionally seen in Sirohi National Park.</li>

{% endblock M %}


{% block B %}
<li>Sarus Crane (<u>Grus</u> <u>antigone</u>) - Wetlands and marshes in Keibul Lamjao National Park.</li>
                <li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Forested areas and open woodlands in Sirohi National Park and other forested regions.</li>
                <li>Green Imperial Pigeon (<u>Ducula</u> <u>aenea</u>) - Forested areas in Sirohi National Park.</li>
                <li>Himalayan Vulture (<u>Gyps</u> <u>himalayensis</u>) - High-altitude regions and forested hills in Manipur.</li>
                <li>Beautiful Nuthatch (<u>Sitta</u> <u>formosa</u>) - Forests and mountainous regions in Sirohi National Park.</li>
                

{% endblock B %}


{% block R %}
<li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Sirohi National Park.</li>
                <li>Banded Water Snake (<u>Nerodia</u> <u>fasciata</u>) - Wetlands and water bodies in Keibul Lamjao National Park.</li>
                <li>Common Kukri Snake (<u>Oligodon</u> <u>cyclurus</u>) - Forested and semi-urban areas throughout Manipur.</li>
                

{% endblock R %}


{% block A %}

<li>Manipur Tree Frog (<u>Polypedates</u> <u>manuensis</u>) - Forested and wetland areas in Sirohi National Park.</li>
<li>Indian Pond Frog (<u>Fejervarya</u> <u>limnocharis</u>) - Ponds, wetlands, and marshes in Manipur.</li>

{% endblock A %}


{% block AL %}
<li>Manipuri Mahseer (<u>Tor</u> <u>putitora</u>) - Freshwater rivers and streams in the region.</li>
                <li>Indian Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands throughout Manipur.</li>
                
                


{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Common Crow (<u>Euploea</u> <u>core</u>) and Tailed Jay (<u>Graphium</u> <u>agamemnon</u>)) - Forests and open areas throughout Manipur.</li>

<li>Dragonflies (such as the Black-tailed Skimmer (<u>Orthetrum</u> <u>sabina</u>) and Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>)) - Wetlands, rivers, and lakes in Manipur.</li>



{% endblock IO %}


{% block PA %}
<li>Protected Areas in Manipur:
    - Keibul Lamjao National Park(home to the Sangai and various wetland species),
    Sirohi National Park(important for various mammal and bird species)
    
    These protected areas are crucial for conserving Manipur’s unique wildlife and maintaining ecological balance.
    
    </li>

{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


