{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}

Madhya Pradesh
{% endblock state %}


{% block M %}
<li>Bengal Tiger (<u>Panthera</u> <u>tigris</u> <u>tigris</u>) - Dense forests in Kanha National Park, Bandhavgarh National Park, and Panna National Park.</li>
                <li>Indian Leopard (<u>Panthera</u> <u>pardus</u> <u>fusca</u>) - Forested areas in Bandhavgarh National Park, Kanha National Park, and Panna National Park.</li>
                <li>Asian Elephant (<u>Elephas</u> <u>maximus</u>) - Forests and grasslands in Pench National Park and Bandhavgarh National Park.</li>
                <li>Gaur (Indian Bison) (<u>Bos</u> <u>gaurus</u>) - Forested areas in Kanha National Park and Bandhavgarh National Park.</li>
                <li>Sloth Bear (<u>Melursus</u> <u>ursinus</u>) - Forested areas in Kanha National Park and Bandhavgarh National Park.</li>
                <li>Indian Wild Dog (Dhole) (<u>Cuon</u> <u>alpinus</u>) - Forests and grasslands in Kanha National Park and Pench National Park.</li>
                <li>Sambar Deer (<u>Rusa</u> <u>unicolor</u>) - Forested areas and grasslands in Kanha National Park and Bandhavgarh National Park.</li>
                <li>Chital (Spotted Deer) (<u>Axis</u> <u>axis</u>) - Forested areas and grasslands, particularly in Kanha National Park and Bandhavgarh National Park.</li>
                <li>Nilgai (<u>Boselaphus</u> <u>tragocamelus</u>) - Grasslands and forest edges, occasionally seen in Pench National Park.</li>
                <li>Indian Fox (<u>Vulpes</u> <u>bengalensis</u>) - Arid and semi-arid regions, including areas around Kanha National Park.</li>

{% endblock M %}


{% block B %}
<li>Indian Peafowl (<u>Pavo</u> <u>cristatus</u>) - Forests and grasslands in Kanha National Park and Bandhavgarh National Park.</li>
                <li>Great Hornbill (<u>Buceros</u> <u>bicornis</u>) - Lowland and montane forests in Kanha National Park.</li>
                <li>Bar-headed Goose (<u>Anser</u> <u>indicus</u>) - Wetlands and water bodies, including areas in Pench National Park.</li>
                <li>Indian Pitta (<u>Pitta</u> <u>brachyura</u>) - Forested areas and woodland edges in Kanha National Park.</li>
                <li>Crested Serpent Eagle (<u>Spilornis</u> <u>cheela</u>) - Forested areas in Kanha National Park and Bandhavgarh National Park.</li>

{% endblock B %}


{% block R %}
<li>King Cobra (<u>Ophiophagus</u> <u>hannah</u>) - Forests and dense vegetation in Kanha National Park and Pench National Park.</li>
                <li>Indian Python (<u>Python</u> <u>molurus</u>) - Forests and grasslands in Kanha National Park and Pench National Park.</li>
                <li>Russell's Viper (<u>Daboia</u> <u>russelii</u>) - Forested and arid regions, including Bandhavgarh National Park.</li>
                
               

{% endblock R %}


{% block A %}
<li>Indian Tree Frog (<u>Polypedates</u> <u>maculatus</u>) - Forested and wetland areas in Kanha National Park and Pench National Park.</li>
                <li>Jerdon's Tree Frog (<u>Raorchestes</u> <u>jerdonii</u>) - Forested areas in Kanha National Park.</li>
                

{% endblock A %}


{% block AL %}
<li>Mahseer (<u>Tor</u> <u>spp.</u>) - Freshwater rivers and streams in Pench National Park and Kanha National Park.</li>
                <li>Catfish (<u>Clarias</u> <u>batrachus</u>) - Freshwater rivers, ponds, and wetlands in Madhya Pradesh.</li>
                

{% endblock AL %}


{% block IO %}
<li>Butterflies (such as the Common Mormon (<u>Papilio</u> <u>polytes</u>) and Painted Lady (<u>Vanessa</u> <u>cardui</u>)) - Varied habitats including forests and open areas in Kanha National Park and Bandhavgarh National Park.</li>
                <li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax</u> <u>longipennis</u>) and Giant Dragonfly (<u>Anax</u> <u>imperator</u>)) - Wetlands, rivers, and lakes throughout Madhya Pradesh.</li>
                

{% endblock IO %}


{% block PA %}

<li>Protected Areas in Madhya Pradesh:
    - Kanha National Park,
      Bandhavgarh National Park,
      Pench National Park,
      Panna National Park,
      Satpura National Park,
      Madhav National Park.
    
    These protected areas are crucial for preserving the state's rich biodiversity and providing sanctuary to its diverse wildlife.
    </li>
    
{% endblock PA %}


{% block M_image %}


{% endblock M_image %}


{% block B_image %}


{% endblock B_image %}


{% block R_image %}


{% endblock R_image %}


{% block A_image %}


{% endblock A_image %}


{% block AL_image %}


{% endblock AL_image %}


{% block IO_image %}


{% endblock IO_image %}


{% block PA_image %}


{% endblock PA_image %}


