{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Mizoram
{% endblock state %}

{% block M %}
<li>Hoolock Gibbon (<u>Hoolock hoolock</u>) - Forests in Murlen National Park and Dampa Tiger Reserve</li>
<li>Bengal Tiger (<u>Panthera tigris tigris</u>) - Forested areas in Dampa Tiger Reserve</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Forested areas in Dampa Tiger Reserve</li>
<li>Gaur (Indian Bison) (<u>Bos gaurus</u>) - Forested areas in Dampa Tiger Reserve</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Forested areas in Dampa Tiger Reserve</li>
{% endblock M %}

{% block B %}
<li>Crested Serpent Eagle (<u>Spilornis cheela</u>) - Forested areas in Dampa Tiger Reserve</li>
<li>Blyth's Tragopan (<u>Tragopan blythii</u>) - Forests in Murlen National Park</li>
{% endblock B %}

{% block R %}
<li>King Cobra (<u>Ophiophagus hannah</u>) - Forests in Dampa Tiger Reserve</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Forested and wetland areas in Dampa Tiger Reserve</li>
{% endblock A %}

{% block AL %}
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Mizoram</li>
{% endblock AL %}

{% block IO %}
<li>Common Mormon (<u>Papilio polytes</u>) - Forested and open areas</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Forested and open areas</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Wetlands and water bodies</li>
<li>Giant Dragonfly (<u>Anax imperator</u>) - Wetlands and water bodies</li>
{% endblock IO %}

{% block PA %}
<li>Dampa Tiger Reserve</li>
<li>Murlen National Park</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
