{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Odisha
{% endblock state %}

{% block M %}
<li>Royal Bengal Tiger (<u>Panthera tigris tigris</u>) - Forested areas in Similipal National Park</li>
<li>Indian Elephant (<u>Elephas maximus</u>) - Forests in Similipal National Park and Chilika Wildlife Sanctuary</li>
<li>Sloth Bear (<u>Melursus ursinus</u>) - Forested areas in Similipal National Park</li>
{% endblock M %}

{% block B %}
<li>White-bellied Sea Eagle (<u>Haliaeetus leucoryphus</u>) - Wetlands and coastal areas around Chilika Lake</li>
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Forests and open areas in Similipal National Park</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Forested areas and grasslands in Similipal National Park</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Forested and wetland areas in Similipal National Park</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Forested and wetland areas in Similipal National Park</li>
{% endblock A %}

{% block AL %}
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Odisha</li>
{% endblock AL %}

{% block IO %}
<li>Common Mormon (<u>Papilio polytes</u>) - Forested and open areas</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Forested and open areas</li>
{% endblock IO %}

{% block PA %}
<li>Similipal National Park</li>
<li>Chilika Wildlife Sanctuary</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
