{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Punjab
{% endblock state %}

{% block M %}
<li>Nilgai (Blue Bull) (<u>Boselaphus tragocamelus</u>) - Habitat: Grasslands and open forested areas, often found in Ropar Wetland and Keshopur-Miani Community Reserve</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Habitat: Forested areas in Ropar Wetland and surrounding regions</li>
<li>Indian Fox (<u>Vulpes bengalensis</u>) - Habitat: Grasslands and semi-arid regions in Keshopur-Miani Community Reserve and Ropar Wetland</li>
<li>Wild Boar (<u>Sus scrofa</u>) - Habitat: Forests and grasslands in Ropar Wetland and surrounding areas</li>
<li>Indian Hare (<u>Lepus nigricollis</u>) - Habitat: Grasslands and open areas in Ropar Wetland and surrounding regions</li>
{% endblock M %}

{% block B %}
<li>Sarus Crane (<u>Grus antigone</u>) - Habitat: Wetlands and marshes in Ropar Wetland</li>
<li>Black-headed Ibis (<u>Threskiornis melanocephalus</u>) - Habitat: Wetlands and riverine areas in Ropar Wetland</li>
<li>Pallid Harrier (<u>Circus macrourus</u>) - Habitat: Open grasslands and wetlands in Ropar Wetland</li>
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Habitat: Forested and semi-urban areas in Keshopur-Miani Community Reserve</li>
<li>Common Crane (<u>Grus grus</u>) - Habitat: Wetlands and open fields in Ropar Wetland</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Habitat: Forested and semi-urban areas, though less common, occasionally found in Ropar Wetland</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Habitat: Forested and dense vegetation areas in Ropar Wetland</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Habitat: Grasslands and open areas in Keshopur-Miani Community Reserve and Ropar Wetland</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Habitat: Wetlands and semi-urban areas in Ropar Wetland</li>
<li>Common Frog (<u>Hoplobatrachus tigerinus</u>) - Habitat: Wetlands and ponds in Ropar Wetland</li>
{% endblock A %}

{% block AL %}
<li>Indian Catfish (<u>Clarias batrachus</u>) - Habitat: Freshwater rivers, ponds, and wetlands in Punjab</li>
<li>Mahseer (<u>Tor spp.</u>) - Habitat: Freshwater rivers and streams in the region, including the Ravi River basin</li>
{% endblock AL %}

{% block IO %}
<li>Butterflies (such as the Common Emigrant (<u>Catopsilia pomona</u>) and Painted Lady (<u>Vanessa cardui</u>)) - Habitat: Open fields and gardens in Ropar Wetland and surrounding regions</li>
<li>Dragonflies (such as the Blue Dasher (<u>Pachydiplax longipennis</u>) and Common Green Darner (<u>Anax junius</u>)) - Habitat: Wetlands, rivers, and ponds in Ropar Wetland</li>
{% endblock IO %}

{% block PA %}
<li>Ropar Wetland (important for migratory birds and other wetland species)</li>
<li>Keshopur-Miani Community Reserve (important for grassland and wetland species)</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
