{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
Puducherry
{% endblock state %}

{% block M %}
<li>Indian Flying Fox (<u>Pteropus giganteus</u>) - Habitat: Urban parks and gardens</li>
<li>Indian Palm Squirrel (<u>Funambulus palmarum</u>) - Habitat: Gardens, parks, and forested areas</li>
<li>Rhesus Macaque (<u>Macaca mulatta</u>) - Habitat: Urban areas and green spaces</li>
<li>Wild Boar (<u>Sus scrofa</u>) - Habitat: Forested areas and open grasslands</li>
<li>Indian Fox (<u>Vulpes bengalensis</u>) - Habitat: Grasslands and forest edges</li>
{% endblock M %}

{% block B %}
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Habitat: Forests, parks, and protected areas such as Oussudu Lake</li>
<li>White-bellied Sea Eagle (<u>Haliaeetus leucoryphus</u>) - Habitat: Coastal areas and mangroves</li>
<li>Cattle Egret (<u>Bubulcus ibis</u>) - Habitat: Wetlands, open fields, and water bodies</li>
<li>Common Kingfisher (<u>Alcedo atthis</u>) - Habitat: Water bodies and mangroves</li>
<li>Asian Koel (<u>Eudynamys scolopaceus</u>) - Habitat: Urban gardens and forested areas</li>
<li>Black-crowned Night Heron (<u>Nycticorax nycticorax</u>) - Habitat: Wetlands and coastal regions</li>
{% endblock B %}

{% block R %}
<li>Water Monitor Lizard (<u>Varanus salvator</u>) - Habitat: Near water bodies, mangroves, and coastal areas</li>
<li>Indian Python (<u>Python molurus</u>) - Habitat: Forested areas and large green spaces</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Habitat: Forested areas and urban green spaces</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Habitat: Moist areas in forests and gardens</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Habitat: Gardens, parks, and near water bodies</li>
{% endblock A %}

{% block AL %}
<li>Mullet (<u>Mugilidae</u>) - Habitat: Coastal waters and estuaries</li>
<li>Catfish (<u>Clarias batrachus</u>) - Habitat: Freshwater bodies and estuaries</li>
{% endblock AL %}

{% block IO %}
<li>Butterflies: Common Crow (<u>Euploea core</u>), Painted Lady (<u>Vanessa cardui</u>) - Habitat: Gardens and forest edges</li>
<li>Dragonflies: Common Blue Skimmer (<u>Orthetrum caledonicum</u>), Blue Dasher (<u>Pachydiplax longipennis</u>) - Habitat: Near water bodies and wetlands</li>
{% endblock IO %}

{% block PA %}
<li>Oussudu Lake</li>
<li>Puducherry Mangroves</li>
<li>Botanical Garden</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
