{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Rajasthan
{% endblock state %}

{% block M %}
<li>Indian Tiger (<u>Panthera tigris tigris</u>) - Ranthambore National Park, Sariska Tiger Reserve</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Ranthambore National Park, Sariska Tiger Reserve</li>
<li>Asiatic Lion (<u>Panthera leo persica</u>) - Historically Rajasthan, now Gir National Park, Gujarat</li>
<li>Nilgai (Blue Bull) (<u>Boselaphus tragocamelus</u>) - Ranthambore National Park, Sariska Tiger Reserve</li>
<li>Indian Gazelle (Chinkara) (<u>Gazella bennettii</u>) - Desert National Park, Sariska Tiger Reserve</li>
<li>Wild Boar (<u>Sus scrofa</u>) - Ranthambore National Park, Sariska Tiger Reserve</li>
<li>Indian Fox (<u>Vulpes bengalensis</u>) - Desert National Park</li>
<li>Blackbuck (<u>Antilope cervicapra</u>) - Kuchaman, Tal Chappar Sanctuary</li>
<li>Desert Fox (<u>Vulpes zerda</u>) - Desert National Park</li>
<li>Sloth Bear (<u>Melursus ursinus</u>) - Sariska Tiger Reserve</li>
{% endblock M %}

{% block B %}
<li>Great Indian Bustard (<u>Ardeotis nigriceps</u>) - Desert National Park</li>
<li>Indian Vulture (<u>Gyps indicus</u>) - Ranthambore National Park</li>
<li>Sarus Crane (<u>Grus antigone</u>) - Kuchaman, Desert National Park</li>
<li>Pallid Harrier (<u>Circus macrourus</u>) - Desert National Park</li>
<li>Flame-backed Woodpecker (<u>Chrysocolaptes stricklandi</u>) - Ranthambore National Park</li>
{% endblock B %}

{% block R %}
<li>King Cobra (<u>Ophiophagus hannah</u>) - Ranthambore National Park</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Desert National Park, Sariska Tiger Reserve</li>
<li>Indian Python (<u>Python molurus</u>) - Ranthambore National Park, Sariska Tiger Reserve</li>
<li>Desert Monitor Lizard (<u>Varanus griseus</u>) - Desert National Park</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Ranthambore National Park</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Ranthambore National Park</li>
{% endblock A %}

{% block AL %}
<li>Indian Catfish (<u>Clarias batrachus</u>) - Freshwater rivers, ponds, wetlands in Rajasthan</li>
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Sariska Tiger Reserve</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Desert National Park</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Desert National Park</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Ranthambore National Park</li>
<li>Giant Dragonfly (<u>Anax imperator</u>) - Ranthambore National Park</li>
{% endblock IO %}

{% block PA %}
<li>Ranthambore National Park</li>
<li>Sariska Tiger Reserve</li>
<li>Desert National Park</li>
<li>Tal Chappar Sanctuary</li>
<li>Kuchaman Wildlife Sanctuary</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
