{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Sikkim
{% endblock state %}

{% block M %}
<li>Red Panda (<u>Ailurus fulgens</u>) - Khangchendzonga National Park, Fambong Lho Wildlife Sanctuary</li>
<li>Himalayan Black Bear (<u>Ursus thibetanus</u>) - Khangchendzonga National Park, Fambong Lho Wildlife Sanctuary</li>
<li>Snow Leopard (<u>Panthera uncia</u>) - Khangchendzonga National Park</li>
<li>Himalayan Tahr (<u>Hemitragus jemlahicus</u>) - Khangchendzonga National Park</li>
<li>Serow (<u>Capricornis sumatraensis</u>) - Khangchendzonga National Park</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Khangchendzonga National Park, Fambong Lho Wildlife Sanctuary</li>
<li>Goral (<u>Naemorhedus goral</u>) - Khangchendzonga National Park</li>
<li>Barking Deer (Muntjac) (<u>Muntiacus muntjak</u>) - Fambong Lho Wildlife Sanctuary</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Fambong Lho Wildlife Sanctuary</li>
<li>Wild Boar (<u>Sus scrofa</u>) - Fambong Lho Wildlife Sanctuary</li>
{% endblock M %}

{% block B %}
<li>Himalayan Monal (<u>Lophophorus impejanus</u>) - Khangchendzonga National Park</li>
<li>Blood Pheasant (<u>Ithaginis cruentus</u>) - Khangchendzonga National Park</li>
<li>Snow Partridge (<u>Lerwa lerwa</u>) - Khangchendzonga National Park</li>
<li>Golden Eagle (<u>Aquila chrysaetos</u>) - Khangchendzonga National Park</li>
<li>Rufous-necked Hornbill (<u>Aceros nipalensis</u>) - Fambong Lho Wildlife Sanctuary</li>
<li>Black-necked Crane (<u>Grus nigricollis</u>) - Khangchendzonga National Park</li>
{% endblock B %}

{% block R %}
<li>Himalayan Pit Viper (<u>Gloydius himalayanus</u>) - Khangchendzonga National Park</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Fambong Lho Wildlife Sanctuary</li>
<li>Common Sand Boa (<u>Eryx johnii</u>) - Fambong Lho Wildlife Sanctuary</li>
{% endblock R %}

{% block A %}
<li>Himalayan Newt (<u>Tylototriton verrucosus</u>) - Khangchendzonga National Park</li>
<li>Assam Valley Tree Frog (<u>Polypedates maculatus</u>) - Fambong Lho Wildlife Sanctuary</li>
{% endblock A %}

{% block AL %}
<li>Golden Mahseer (<u>Tor putitora</u>) - Khangchendzonga National Park</li>
<li>Himalayan Trout (<u>Schizothorax spp.</u>) - Khangchendzonga National Park</li>
{% endblock AL %}

{% block IO %}
<li>Common Yellow Swallowtail (<u>Papilio machaon</u>) - Khangchendzonga National Park</li>
<li>Clouded Yellow (<u>Colias croceus</u>) - Khangchendzonga National Park</li>
<li>Common Blue Damselfly (<u>Enallagma cyathigerum</u>) - Fambong Lho Wildlife Sanctuary</li>
<li>Himalayan Skimmer (<u>Orthetrum julia</u>) - Fambong Lho Wildlife Sanctuary</li>
{% endblock IO %}

{% block PA %}
<li>Khangchendzonga National Park</li>
<li>Fambong Lho Wildlife Sanctuary</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
