{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Telangana
{% endblock state %}

{% block M %}
<li>Indian Tiger (<u>Panthera tigris tigris</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Gaur (Indian Bison) (<u>Bos gaurus</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Chital (Spotted Deer) (<u>Axis axis</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Nilgai (Blue Bull) (<u>Boselaphus tragocamelus</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Indian Wild Dog (Dhole) (<u>Cuon alpinus</u>) - Kawal Tiger Reserve</li>
<li>Sloth Bear (<u>Melursus ursinus</u>) - Nallamala Forests, Kawal Tiger Reserve</li>
<li>Indian Fox (<u>Vulpes bengalensis</u>) - Kawal Tiger Reserve</li>
<li>Blackbuck (<u>Antilope cervicapra</u>) - Kawal Tiger Reserve</li>
{% endblock M %}

{% block B %}
<li>Indian Vulture (<u>Gyps indicus</u>) - Kawal Tiger Reserve</li>
<li>Pallid Harrier (<u>Circus macrourus</u>) - Kawal Tiger Reserve</li>
<li>Crested Serpent Eagle (<u>Spilornis cheela</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Kawal Tiger Reserve, Nallamala Forests</li>
<li>White-bellied Sea Eagle (<u>Haliaeetus leucoryphus</u>) - Nallamala Forests</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Kawal Tiger Reserve</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Kawal Tiger Reserve</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Kawal Tiger Reserve</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Kawal Tiger Reserve</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Kawal Tiger Reserve</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Kawal Tiger Reserve</li>
{% endblock A %}

{% block AL %}
<li>Catfish (<u>Clarias batrachus</u>) - Freshwater rivers, ponds, and wetlands in Telangana</li>
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Kawal Tiger Reserve</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Kawal Tiger Reserve</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Kawal Tiger Reserve</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Kawal Tiger Reserve</li>
<li>Common Green Darner (<u>Anax junius</u>) - Kawal Tiger Reserve</li>
{% endblock IO %}

{% block PA %}
<li>Kawal Tiger Reserve</li>
<li>Nallamala Forests</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
