{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Tamil Nadu
{% endblock state %}

{% block M %}
<li>Indian Elephant (<u>Elephas maximus</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Royal Bengal Tiger (<u>Panthera tigris tigris</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Gaur (Indian Bison) (<u>Bos gaurus</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Chital (Spotted Deer) (<u>Axis axis</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Nilgai (Blue Bull) (<u>Boselaphus tragocamelus</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Sloth Bear (<u>Melursus ursinus</u>) - Anamalai Tiger Reserve</li>
<li>Indian Wild Dog (Dhole) (<u>Cuon alpinus</u>) - Mudumalai National Park</li>
{% endblock M %}

{% block B %}
<li>Nilgiri Tahr (<u>Nilgiritragus hylocrius</u>) - Nilgiri Hills, Western Ghats</li>
<li>Malabar Grey Hornbill (<u>Ocyceros griseus</u>) - Anamalai Tiger Reserve</li>
<li>Southern Hill Myna (<u>Gracula indica</u>) - Anamalai Tiger Reserve</li>
<li>Great Hornbill (<u>Buceros bicornis</u>) - Anamalai Tiger Reserve</li>
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Mudumalai National Park, Anamalai Tiger Reserve</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Mudumalai National Park</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Mudumalai National Park</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Mudumalai National Park</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Mudumalai National Park</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Mudumalai National Park</li>
{% endblock A %}

{% block AL %}
<li>Catfish (<u>Clarias batrachus</u>) - Freshwater rivers, ponds, and wetlands in Tamil Nadu</li>
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Mudumalai National Park</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Mudumalai National Park</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Mudumalai National Park</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Mudumalai National Park</li>
<li>Common Green Darner (<u>Anax junius</u>) - Mudumalai National Park</li>
{% endblock IO %}

{% block PA %}
<li>Mudumalai National Park</li>
<li>Anamalai Tiger Reserve</li>
<li>Nilgiri Biosphere Reserve</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
