{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Tripura
{% endblock state %}

{% block M %}
<li>Hoolock Gibbon (<u>Hoolock hoolock</u>) - Sepahijala Wildlife Sanctuary, Khowai Wildlife Sanctuary</li>
<li>Barking Deer (Muntjac) (<u>Muntiacus muntjak</u>) - Sepahijala Wildlife Sanctuary, Khowai Wildlife Sanctuary</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Wild Boar (<u>Sus scrofa</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Indian Elephant (<u>Elephas maximus</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Sloth Bear (<u>Melursus ursinus</u>) - Khowai Wildlife Sanctuary</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Sepahijala Wildlife Sanctuary, Khowai Wildlife Sanctuary</li>
{% endblock M %}

{% block B %}
<li>Blyth's Kingfisher (<u>Alcedo hercules</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Rufous-necked Hornbill (<u>Aceros nipalensis</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Great Hornbill (<u>Buceros bicornis</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Black-headed Ibis (<u>Threskiornis melanocephalus</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Jungle Babbler (<u>Turdoides striata</u>) - Sepahijala Wildlife Sanctuary</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Sepahijala Wildlife Sanctuary</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Sepahijala Wildlife Sanctuary</li>
{% endblock A %}

{% block AL %}
<li>Catfish (<u>Clarias batrachus</u>) - Freshwater rivers, ponds, and wetlands in Tripura</li>
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Sepahijala Wildlife Sanctuary</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Sepahijala Wildlife Sanctuary</li>
<li>Common Green Darner (<u>Anax junius</u>) - Sepahijala Wildlife Sanctuary</li>
{% endblock IO %}

{% block PA %}
<li>Sepahijala Wildlife Sanctuary</li>
<li>Khowai Wildlife Sanctuary</li>
<li>Raimongal Wildlife Sanctuary</li>
<li>Trishna Wildlife Sanctuary</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
