{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Uttar Pradesh
{% endblock state %}

{% block M %}
<li>Indian Tiger (<u>Panthera tigris tigris</u>) - Dudhwa National Park, Katarniaghat Wildlife Sanctuary</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Dudhwa National Park, Katarniaghat Wildlife Sanctuary</li>
<li>Swamp Deer (Barasingha) (<u>Rucervus duvaucelii</u>) - Dudhwa National Park</li>
<li>Elephant (<u>Elephas maximus</u>) - Katarniaghat Wildlife Sanctuary</li>
<li>Indian Wild Boar (<u>Sus scrofa</u>) - Dudhwa National Park</li>
<li>Chital (Spotted Deer) (<u>Axis axis</u>) - Dudhwa National Park</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Dudhwa National Park, Katarniaghat Wildlife Sanctuary</li>
<li>Blackbuck (<u>Antilope cervicapra</u>) - Katarniaghat Wildlife Sanctuary</li>
<li>Gaur (Indian Bison) (<u>Bos gaurus</u>) - Dudhwa National Park</li>
<li>Sloth Bear (<u>Melursus ursinus</u>) - Dudhwa National Park</li>
{% endblock M %}

{% block B %}
<li>Bengal Florican (<u>Houbaropsis bengalensis</u>) - Dudhwa National Park</li>
<li>Indian Vulture (<u>Gyps indicus</u>) - Dudhwa National Park</li>
<li>Pallid Harrier (<u>Circus macrourus</u>) - Dudhwa National Park</li>
<li>Great Hornbill (<u>Buceros bicornis</u>) - Katarniaghat Wildlife Sanctuary</li>
<li>Black-necked Crane (<u>Grus nigricollis</u>) - Dudhwa National Park</li>
<li>Indian Peafowl (<u>Pavo cristatus</u>) - Dudhwa National Park, Katarniaghat Wildlife Sanctuary</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Dudhwa National Park</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Dudhwa National Park</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Dudhwa National Park</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Dudhwa National Park</li>
{% endblock R %}

{% block A %}
<li>Indian Tree Frog (<u>Polypedates maculatus</u>) - Dudhwa National Park</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Dudhwa National Park</li>
{% endblock A %}

{% block AL %}
<li>Catfish (<u>Clarias batrachus</u>) - Freshwater rivers, ponds, and wetlands in Uttar Pradesh</li>
<li>Mahseer (<u>Tor spp.</u>) - Freshwater rivers and streams in Katarniaghat Wildlife Sanctuary</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Dudhwa National Park</li>
<li>Painted Lady (<u>Vanessa cardui</u>) - Dudhwa National Park</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Dudhwa National Park</li>
<li>Common Green Darner (<u>Anax junius</u>) - Dudhwa National Park</li>
{% endblock IO %}

{% block PA %}
<li>Dudhwa National Park</li>
<li>Katarniaghat Wildlife Sanctuary</li>
<li>Sarsai Nawar Bird Sanctuary</li>
<li>Raja Ji National Park</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
