{% extends 'core/baseformap.html' %}
{% load static %}

{% block state %}
 Uttarakhand
{% endblock state %}

{% block M %}
<li>Indian Tiger (<u>Panthera tigris tigris</u>) - Jim Corbett National Park, Rajaji National Park, Ramnagar Forest Division</li>
<li>Indian Leopard (<u>Panthera pardus fusca</u>) - Jim Corbett National Park, Rajaji National Park, Nanda Devi National Park</li>
<li>Asian Elephant (<u>Elephas maximus</u>) - Rajaji National Park</li>
<li>Himalayan Black Bear (<u>Ursus thibetanus</u>) - Nanda Devi National Park, Rajaji National Park</li>
<li>Snow Leopard (<u>Panthera uncia</u>) - Nanda Devi National Park</li>
<li>Himalayan Tahr (<u>Hemitragus jemlahicus</u>) - Nanda Devi National Park, Valley of Flowers National Park</li>
<li>Musk Deer (<u>Moschus moschiferus</u>) - Nanda Devi National Park</li>
<li>Goral (<u>Naemorhedus goral</u>) - Nanda Devi National Park</li>
<li>Sambar Deer (<u>Rusa unicolor</u>) - Jim Corbett National Park, Rajaji National Park</li>
<li>Chital (Spotted Deer) (<u>Axis axis</u>) - Jim Corbett National Park</li>
{% endblock M %}

{% block B %}
<li>Kohlmeise (Great Tit) (<u>Parus major</u>) - Jim Corbett National Park, Nanda Devi National Park</li>
<li>Himalayan Monal (<u>Lophophorus impejanus</u>) - Valley of Flowers National Park, Nanda Devi National Park</li>
<li>Golden Eagle (<u>Aquila chrysaetos</u>) - Nanda Devi National Park</li>
<li>Pallid Harrier (<u>Circus macrourus</u>) - Jim Corbett National Park</li>
<li>Black-headed Ibis (<u>Threskiornis melanocephalus</u>) - Jim Corbett National Park</li>
<li>Great Hornbill (<u>Buceros bicornis</u>) - Rajaji National Park</li>
{% endblock B %}

{% block R %}
<li>Indian Python (<u>Python molurus</u>) - Jim Corbett National Park</li>
<li>King Cobra (<u>Ophiophagus hannah</u>) - Rajaji National Park</li>
<li>Russell's Viper (<u>Daboia russelii</u>) - Jim Corbett National Park</li>
<li>Common Krait (<u>Bungarus caeruleus</u>) - Jim Corbett National Park</li>
{% endblock R %}

{% block A %}
<li>Himalayan Newt (<u>Tylototriton verrucosus</u>) - Nanda Devi National Park</li>
<li>Common Indian Toad (<u>Duttaphrynus melanostictus</u>) - Jim Corbett National Park</li>
{% endblock A %}

{% block AL %}
<li>Mahseer (<u>Tor spp.</u>) - Jim Corbett National Park, Rajaji National Park</li>
<li>Catfish (<u>Clarias batrachus</u>) - Freshwater rivers and ponds in Uttarakhand</li>
{% endblock AL %}

{% block IO %}
<li>Common Emigrant (<u>Catopsilia pomona</u>) - Jim Corbett National Park, Valley of Flowers National Park</li>
<li>Swallowtail (<u>Papilio machaon</u>) - Jim Corbett National Park, Valley of Flowers National Park</li>
<li>Blue Dasher (<u>Pachydiplax longipennis</u>) - Jim Corbett National Park</li>
<li>Common Green Darner (<u>Anax junius</u>) - Jim Corbett National Park</li>
{% endblock IO %}

{% block PA %}
<li>Jim Corbett National Park</li>
<li>Rajaji National Park</li>
<li>Nanda Devi National Park</li>
<li>Valley of Flowers National Park</li>
{% endblock PA %}

{% block M_image %}
<!-- Add images related to Mammals here if needed -->
{% endblock M_image %}

{% block B_image %}
<!-- Add images related to Birds here if needed -->
{% endblock B_image %}

{% block R_image %}
<!-- Add images related to Reptiles here if needed -->
{% endblock R_image %}

{% block A_image %}
<!-- Add images related to Amphibians here if needed -->
{% endblock A_image %}

{% block AL_image %}
<!-- Add images related to Fish here if needed -->
{% endblock AL_image %}

{% block IO_image %}
<!-- Add images related to Insects here if needed -->
{% endblock IO_image %}

{% block PA_image %}
<!-- Add images related to Protected Areas here if needed -->
{% endblock PA_image %}
